@import '../../styles/variables.scss';

.timeline {
  position: relative;
  width: 100%;
  height: auto;
}

.taskBar {
  position: absolute;
  height: $gantt-chart-task-bar-height;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 5px;
  margin: $gantt-chart-task-bar-margin-top 0;
  box-sizing: border-box;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: top;
  font-size: small;

  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.emptyRow {
  height: $gantt-chart-row-height;
}
