.timeline {
  position: relative;
  width: 100%;
  height: auto;
}

.taskBar {
  position: absolute;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: top;
}

.emptyRow {
  height: 35px;
}
