# Ignore node_modules
node_modules

# Ignore build output
dist

# Ignore logs
logs
*.log

# Ignore environment variables
.env
.env.*
.env.local

# Ignore local development files
.vscode
.DS_Store

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore Yarn files
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Ignore coverage reports
coverage
