$primary-color: #4caf50;
$secondary-color: #45a049;
$border-color: #ccc;
$background-color: #f2f2f2;
$hover-background-color: #f5f5f5;

$gantt-chart-header-height: 35px;
$gantt-chart-row-height: 35px;
$gantt-chart-task-bar-height: 25px;
$gantt-chart-task-bar-margin-top: 5px;

$gantt-chart-task-text-color-1: rgba(255, 87, 51);
$gantt-chart-task-text-color-2: rgba(0, 123, 255);
$gantt-chart-task-bar-color-1: rgba(255, 87, 51, 0.5);
$gantt-chart-task-bar-color-2: rgba(0, 123, 255, 0.5);

:export {
  ganttChartHeaderHeight: $gantt-chart-header-height;
  ganttChartRowHeight: $gantt-chart-row-height;

  ganttChartTaskBarHeight: $gantt-chart-task-bar-height;
  ganttChartTaskBarMarginTop: $gantt-chart-task-bar-margin-top;

  ganttChartTaskTextColor1: $gantt-chart-task-text-color-1;
  ganttChartTaskTextColor2: $gantt-chart-task-text-color-2;

  ganttChartTaskBarColor1: $gantt-chart-task-bar-color-1;
  ganttChartTaskBarColor2: $gantt-chart-task-bar-color-2;
}