.time-ruler {
  // width: 100%;

  .time-scale {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 10px; // Optional: Add some spacing between rows
    height: 25px;
  }
  
  .time-unit {
    border: 1px solid #ccc;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
  }
}
