@import '../../styles/variables.scss';

.timeRuler {
  // width: 100%;

  .timeScale {
    display: flex;
    white-space: nowrap;
    vertical-align: middle;
    height: $gantt-chart-header-height;
  }

  .timeUnit {
    border: 1px solid #ddd;
    padding: 4px;
    vertical-align: middle;
    white-space: nowrap;
  }

  .sunday {
    color: red;
  }
}

