// src/index.scss

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Reset some basic styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(225, 76%, 96%); /* Use your desired background color */
  color: hsl(210, 8%, 25%);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.chakra-heading {
  color: black;
  font-size: 34px;
}

.chakra-sidebar {
  background-color: white;
  border-color: hsl(210, 32%, 88%);
  border-radius: 8px;
  padding: 1rem;
  height: 100vh; /* Ensure the sidebar takes up the full height of the screen */
  overflow-y: auto; /* Add scrollbar if content overflows */
}

.chakra-panel {
  background-color: white;
  border-color: hsl(210, 32%, 88%);
  border-radius: 8px;
  padding: 1rem;
  box-shadow: var(--chakra-shadows-lg); /* Add shadow similar to alert box */
}

.chakra-icon {
  background-color: hsl(225, 76%, 96%);
}

.chakra-link {
  color: hsl(217, 100%, 44%);
}

.chakra-link-secondary {
  color: hsl(186, 100%, 50%);
}
