// src/index.scss

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Reset some basic styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--chakra-fontSizes-md);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--chakra-fonts-body);
  background-color: var(--chakra-colors-secondaryGray-300); /* Use your desired background color */
  color: var(--chakra-colors-gray-700);
  line-height: var(--chakra-lineHeights-base);
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: var(--chakra-fonts-body);
}

img {
  max-width: 100%;
  display: block;
}

.chakra-heading {
  color: var(--chakra-colors-black);
  font-size: var(--chakra-fontSizes-4xl);
}

.chakra-page-heading {
  color: var(--chakra-colors-brand-500);
  font-size: var(--chakra-fontSizes-4xl);
}

.chakra-sidebar {
  background-color: var(--chakra-colors-white);
  border-color: var(--chakra-colors-gray-200);
  border-radius: var(--chakra-radii-md);
  padding: var(--chakra-space-4);
  height: 100vh; /* Ensure the sidebar takes up the full height of the screen */
  overflow-y: auto; /* Add scrollbar if content overflows */
}

.chakra-panel {
  background-color: var(--chakra-colors-white);
  border-color: var(--chakra-colors-gray-200);
  border-radius: var(--chakra-radii-md);
  padding: var(--chakra-space-4);
  box-shadow: var(--chakra-shadows-lg); /* Add shadow similar to alert box */
}

.chakra-icon {
  background-color: var(--chakra-colors-secondaryGray-300);
}

.chakra-link {
  color: var(--chakra-colors-brand-500);
}

.chakra-link-secondary {
  color: var(--chakra-colors-secondary-500);
}

.chakra-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  border: 1px solid var(--chakra-colors-gray-200);
}

.chakra-table thead {
  background-color: var(--chakra-colors-gray-100);
}

.chakra-table tbody tr:nth-of-type(odd) {
  background-color: var(--chakra-colors-gray-50);
}

.chakra-table tbody tr:nth-of-type(even) {
  background-color: var(--chakra-colors-white);
}

.chakra-table th,
.chakra-table td {
  padding: 8px;
  border: 1px solid var(--chakra-colors-gray-200);
  text-align: left;
}
