// to import $ganttChartHeaderHeight
@import '../styles/variables.scss';

.ganttChart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.zoomControl {
  margin: 10px;
}

.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.leftPanel {
  overflow: none;
  display: flex;
  flex-direction: column;
}

.rightPanel {
  flex: 1;
  overflow: auto;
  width: 600px;
}

.leftHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  font-weight: bold;
}

